/* 
colors
FFFFFF - white - background and font on button
E0E0E0 - light light gray - borders
005F6B - teal - background color and button
B84E4E - red - header text & accents
6B0504
9D0806
A52312
63666A - medium gray - secondary text 
63666A
3A333B - off black - primary text 
fonts - amatic sc, roboto condensed
*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* overarching */
body {
    display: flex;
    background: #005F6B url("../images/wild-flowers.png");
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: "open sans";

}

#root {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1500px;
}

a {
    text-decoration: none;
    color: #63666A;
    font-family: "open sans";

}

a:hover {
    cursor: pointer;
}

input, select {
    /* -webkit-appearance: none;
    -webkit-border-radius: 0; */
    font-family: "open sans";
    border-radius: 0;
}

::placeholder {
    color: #e0e0e0;
}

.Modal {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    bottom: 40%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 2px 2px #E0E0E0;
    animation: expand-in .3s ease-out;
  }

@keyframes expand-in {
    0% {
       transform: scale(0);
       opacity: 25%;
    }

    100% {
        transform: scale(1);
        opacity: 100%
    }
}

  .Modal:focus {
      outline: none;
  }

  .Modal-Loading {
    position: absolute;
    top: 40%;
    left: 35%;
    right: 35%;
    bottom: 50%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 2px 2px #E0E0E0;
  }

  .Modal-Login {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 15%;
    right: 15%;
    background-color: #fff;
    border: 1.5px solid #E0E0E0;
    border-radius: .5rem;
    animation: expand-in .3s ease-out;
}


  .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      background-color: rgba(140, 147, 154, .75);
  }

a:focus, select:focus, button:focus {
    outline: none;
    background-color:rgba(26, 62, 97, 0.55);
}

input:focus {
    outline: none;
    background-color:rgba(26, 62, 97, 0.15);
    
}

/* Modal Styles */

.loading-container {
    display: flex;
    flex-direction: column;
}

.loading-text {
    text-align: center;
    color: #3A333B;
    font-size: 1.5em;
}

.loading-gif {
    height: 50px;
    object-fit: contain;
    opacity: .75;
}

form.modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: space-around;
    align-content: space-between;
    color: #3A333B;
    padding: 0 25px;
}

.edit-label {
    width: 90%;
    margin-left: 2.5%;
    margin-bottom: 15px;
    font-size: .9em;

}

input.modal {
    width: 100%;
    border-bottom: 1px solid #63666A;
    border-top: none;
    border-left: none;
    border-right: none; 
    font-size: 1.15em;
    color: #63666A;
}

.modal-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

button.modal {
    height: 30px;
    width: 100px;
    font-size: 1em;
}



.danger {
    color: #A52312;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 5px;
}

button#delete {
    margin: 3px;
    height: 30px;
    width: 200px;
    font-size: 1em;
    background-color: rgb(165, 35, 18);
}

button#delete:hover {
    background-color: #b84e4e65;
}

select.modal {
    font-size: 1.15em;
    width: 100%;
    height: 30px;
    border: 1px solid #63666A;
    border-radius: .5rem;
}

label.list {
    width: 100%;
    margin: 5px 0 20px 5px;
    font-size: .8em;
}

.modal-close {
    position: absolute;
    height: 20px;
    right: 5px;
    top: 10px;
}

.modal-close:hover {
    cursor: pointer;
}

/* header styles */
header.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8em;
    width: 95%;
    margin-top: 25px;
    background: #FFFFFF; 
    border-radius: .75rem;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 2px #63666A;
}

header.home:hover {
    cursor: pointer;
}

.header-text-box {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

h1 {
    width: 100%;
    font-family: 'martel';
    font-size: 4em;
    color: #A52312;
    text-align: center;
}

h2 {
    width: 100%;
    padding-top: 10px;
    color: #63666A;
    text-align: center;
}

.header-image {
   display: none;

}


/* login page styles */

.login-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(140, 147, 154, .55);

}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 15%;
    background-color: #fff;
    border-radius: .75rem;

}

.login-title {
    display: flex;
    justify-content: center;
    margin: 15px 0 30px 0;
    font-family: "martel";
    font-size: 4em;
}

.title-1 {
    color: #A52312;
}

.title-2 {
    color: #63666A;
}

form.email {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: "open sans";
    margin-bottom: 35px;
}

.input-label-group {
    width: 60%;
}

form#auth {
    width: 90%;
    height: 25%;
}

ol {
    list-style-type: "📖";
    list-style-position: outside;
}

.login-text {
    display: flex;
    flex-direction: column;
    color: #63666A;
    font-size: 1.25em;
    margin: 10px;
    height: 10em;
    width: 70%;
}

li {
    text-align: justify;
    padding: 15px 5px;

}

.auth-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    font-family: "open sans";
    padding: 10px;
}

.auth-text {
    font-size: 1.05em;
    text-align: center;
    color: #63666A;
}

.resend-text {
    color: #3A333B;
    text-decoration: underline;
}

.resend-text:hover {
    cursor: pointer;
}

#spam-text {
    color: #A52312;
}

.logout-container {
    height: 1.5em;
}

button.logout {
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    background-color: #A52312;
    color: #fff;
    padding: 2.5px 10px;
    font-size: 1em;

}


/* component styles */
.component-box {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #FFFFFF;
    width: 95%;
    border-radius: .75rem;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 2px #63666A;
}

.component-list-title {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    font-family: "martel";
    color: #A52312;
    width: 100%;
    height: 20%;
    padding-left: 2%;
    padding-top: 5px;
    font-size: 1.25em;
}

h3 {
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    padding-top: 5px;
}

.results-number {
    font-family: "open sans";
    font-size: .75em;
    color: #63666A;
    padding-top: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.home-link {
    position: absolute;
    height: auto;
    right: 15px;
    top: 15px;
    font-size: 1em;
}

.component-body-error {
    width: 100%;
    padding: 1px 1px 5px 1px;
    font-size: 1.3em;
    color: #3A333B;
}

/* book preview styles */
div.book-preview {
    position: relative;
    display: flex;
    align-content: flex-start;
    width: 100%;
    font-size: .85em;
    padding: 1em 0;
    border-bottom: 1px solid #E0E0E0;
    transition-property: background-color;
    transition: .3s;
    animation: float-up;
    animation-duration: .5s;
    animation-delay: calc(var(--animation-order) * 100ms);
}

@keyframes float-up {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.book-preview:hover {
    background-color: rgba(224,224,224,.5);
    cursor: pointer;
} 

img.book-preview {
    float: left;
    min-width: 20px;
    width: 20%;
    padding: 3px;
    object-fit: contain;
    transition-property: opacity;
    transition: .3s;
}

img.book-preview:hover {
    opacity: .75;
}

.book-preview-link {
    display: flex;
    justify-content: center;
    height: 100%;
}


.book-preview-text {
    display: flex;
    flex-wrap: wrap; 
    align-self: center;
    width: 60%;
    padding-left: 20px;
    font-family: "open sans";
}

.book-preview-title {
    width: 100%;
    padding: 1px 1px 5px 1px;
    font-size: 1.7em;
    color: #3A333B;
}

.book-preview-author {
    width: 100%;
    padding: 1px;
    font-size: 1.25em;
    color: #63666A;
}

#add-delete {
    position: absolute;
    padding-top: 7.5%;
    top: 30%;
    right: 5%;
    height: 1.75em;
    opacity: .5;
    transition-property: opacity;
    transition: .3s;
}

#add-delete:hover {
    opacity: 1;
}

#add-delete:active {
    opacity: 0;
}

/* search component styles */
.search-box {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 95%;
    height: 2.5em;
    margin: 20px 0;
    background: #FFFFFF;
    border-radius: .75rem;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 2px #63666A;
}

input.search {
    height: 90%;
    width: 70%;
    font-family: "open sans";
    font-size: 1.15em;
    margin-left: 1em;
    /* background-color: transparent; */
    border: 0;
}




/* button styles - search and new search */
button {
    -webkit-appearance: none;
    font-family: "open sans";
    font-size: .85em;
    font-weight: bold;
    background-color: #005F6B;
    color: #FFFFFF;
    border: none;
    border-radius: .5rem;
    box-shadow: 1px 1px #63666A;
    transition-property: background-color;
    transition: .3s;
}


#search-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

button:hover {
    background-color: #72a1acaf;
}


/* shelf preview styles */

.add-shelf-container {
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
}

button#add-shelf {
    align-self: center;
    justify-self: center;
    height: 22px;
    width: 40%;
    font-size: .9em;
}

section {
    width: 100%;
    padding: 2.5% 5%;
}
.shelf-preview {
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    padding: 1em 0;
    transition-property: background-color;
    transition: .3s;
}

.shelf-preview:hover {
    background-color: rgba(224,224,224,.5);
    border-radius: .75rem;
}

.shelf-title-container {
    padding: 3px 0px 7.5px 3px;
    height: 40%; 
}

.shelf-preview-title {
    font-family: "martel";
    color: #A52312;
    font-size: 1.4em;
    padding-bottom: 3px;
    width: 75%;
    height: 65%;
}

.shelf-preview-image-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.single-preview-image-container {
    display: flex;
    width: 25%;
}

.shelf-preview-image {
    width: 50%;
    padding: 3px;
    opacity: 1;
    transition-property: opacity;
    transition: .3s
}

.shelf-preview-image:hover {
    opacity: .75;
}

.shelf-option-container {
    display: flex;
}

.shelf-option {
    font-family: "open sans";
    font-size: .9em;
    color: #63666A;
    margin-right: 12.5px;
}

.shelf-option:hover {
    cursor: pointer;
}
/* book list styles */

.list-link-container {
    position: absolute;
    right: 10px;
    top: 15px;
}

.book-list-link {
    text-decoration: none;
    font-family: "open sans";
    font-size: 1em;
    color: #63666A;
}

/* book detail styles */

section.detail {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    font-family: "open sans";
    width: 95%;
    color: #3A333B;
}

.detail-nav {
    display: flex;
    align-items: center;
    /* width: 60%; */
    height: 1.25em;
    font-family: "open sans";
    color: #63666A;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.detail-nav:hover {
    cursor: pointer;
}

header.component {
    width: 100%;
    font-family: "martel";
    margin-bottom: 20px;
    color: #A52312;
    font-size: 1.3em;
    padding: 2.5% 0;
}

.detail-title-text {
    font-size: 1.5em;
    margin-bottom: 3px;
    padding: 15px 0px 0px 0px;
}

img.detail {
    float: left;
    width: 30%;
    object-fit: contain;
    margin: 5px 0px 15px 0px
    
}

.book-detail-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    padding-left: 15px;
}

.detail-title-author-container {
    padding-bottom: 30px;
}

.detail-title {
    font-size: 1.25em;
}

.detail-author {
    font-size: 1em;
    color: #63666A;
}

.single-detail-container {
    display: flex;
    margin: 5px;
}

.detail-label {
    width: 55%;
}

.detail-field {
    color: #63666A;
    width: 45%;
    text-align: center;
}

/* toast notifs styles */
.Toastify__toast--success {
    font: "open sans";
    color: #ffffff;
    background: #005F6B !important;
}

.Toastify__toast--error {
    color: #fff;
    background: #A52312 !important;
}

@media only screen and (min-width: 625px) {

    .Modal {
        bottom: 50%;

    }

    .Modal-Loading {
        left: 40%;
        right: 40%;
 }

    .Modal-Login {
        top: 25%;
        bottom: 25%;
        left: 25%;
        right: 25%;
    }

    .login-title {
        font-size: 4.5em;
    }

    .login-text {
        width: 60%;
        font-size: 1.5em;
    }

    .auth-text {
        font-size: 1.25em;
    }


    header.home {
        justify-content: space-around;
        height: 11em;
    }

    .header-text-box {
        justify-content: flex-start;
    }

    h1 {
        font-size: 4em;
        text-align: center;
    }

    h2 {
        font-size: .9em;
        text-align: center;
    }

    .shelf-preview-title {
        font-size: 1.6em;
    }

    .logout-container {
        height: 2.5em;
    }
    .logout-button {
        font-size: 1.4em;
    }

}

@media only screen and (min-width: 850px) {
    header.home {
        height: 15em;
        justify-content: space-around;
        align-items: center;
    }

    .Modal {
        left: 20%;
        right: 20%;
    }

    .Modal-Loading {
        left: 42%;
        right: 42%;
 }
    

    .search-box {
        width: 40%;
    }

    .header-text-box {
        justify-content: flex-start;
    }

    h1 {
        font-size: 6em;
        text-align: center;
    }

    h2 {
        font-size: 1.25em;
        text-align: center;
    }

    .header-image {
        display: block;
        position: absolute;
        right: -35px;
        bottom: -15px;
        height: 90%;
    }

    header.component {
        padding: 1% 0;
    }

    .list-link-container {
        top: 45%;
    }

    .book-list-link {
        font-size: 1.25em;
    }

    .list {
        justify-content: flex-start;
    }

    .component-list-title {
        font-size: 1.5em;
    }

    div.book-preview {
        width: 48%;
        border: 1px solid #E0E0E0;
        border-radius: .75rem;
        margin: .5rem;
        padding-left: .25rem;

    }

    .book-preview-text {
        width: 70%;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2.5%;
    }

    .shelf-title-container {
        height: auto;
    }

    .shelf-preview {
        width: 45%;
        border: 1px solid #E0E0E0;
        border-radius: .75rem;
        padding: 1em;
    }

    .shelf-preview-image {
        width: 60%;
    }

    .add-shelf-container {
        height: 50px;
    }

    button#add-shelf {
        height: 30px;
    }

    img.detail {
        width: 20%;
    }

    .book-detail-container {
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 1075px) {

    .Modal-Loading {
        left: 45%;
        right: 45%;

      }
    

    .Modal {
        left: 30%;
        right: 30%;
    }

    .shelf-preview-image {
        width: 80%;
    }


    button#add-shelf {
        width: 25%;
        height: 2em;
        font-size: 1.1em;
    }

    img.detail {
        width: 15%;
    }

    .detail-label {
        width: 30%;
    }

    .logout-button {
        font-size: 1.2em;
    }

}

@media only screen and (max-width: 400px) {

    .login-box {
        top: 5%;
        bottom: 5%;
    }

    #login-button {
        width: 150px;
    }

    .login-title {
        font-size: 3.5em;
        padding-top: 25px;
    }

    .shelf-preview-title {
        width: 60%;
    }

    li {
        text-align: left;
    }
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: .85em;
        padding-top: 2px;
    }

    .loading-text {
        font-size: 1em;
    }

    input.search {
        font-size: .9em;
    }
    .book-preview-image {
        width: 28%;
    }

    .book-preview-text {
        width: 65%;
        padding-left: 1px;
    }

    .book-preview-title {
        font-size:1.5em;
    }

    .book-preview-author {
        font-size: 1.15em;
    }

    .detail-label {
        width: 50%;
    }
}