:root {
    --red: rgb(156, 30, 28);
    --red-hover: rgba(156, 30, 28, .8);
    --green-blue: rgb(21, 98, 106);
    --green: rgb(69, 95, 74);
    --green-hover: rgba(69, 95, 74, .8);
    --black: rgb(58, 51, 59);
    --black-hover: rgba(58, 51, 59, .8);
    --white: rgba(255, 255, 255, .95);
    --white-opac: rgba(255, 255, 255, .92);
    --med-gray: #63666A;
    --light-gray: #8F8F8F;
    --main-shadow: 1px 1px 6px 1px var(--light-gray);
    --light-shadow: 1px 1px 5px 1px #ADADAD;
    --button-shadow: 1px 1px 5px var(--black);
    --main-radius: .25rem;
    --button-radius: .1rem;
    --main-border: 1px solid var(--med-gray);
    --modal-border: 1.5 solid var(--med-gray);
}